<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
    <link rel="stylesheet" href="../dist/css/boke/common.css" />
</head>
<body>
    <!--顶部-->
    <div class="header">
        <div class="header-box">
            <div class="header-member-box" id="header-member-box">
                个人中心
                <ul class="header-member-list" id="header-member-list">
                    <li><a href="#">设置</a></li>
                    <li><a href="#">换肤</a></li>
                    <li><a href="#">帮助</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
            <div class="header-box-login" id="header-box-login">登录</div>
            <div class="header-box-register">注册</div>
            <img src="../dist/img/logo.gif" alt="logo" class="head-box-logo" />
        </div>
    </div>
    <!--导航栏-->
    <div class="nav">
        <ul class="nav-list">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">博文列表</a>
            </li>
            <li>
                <a href="#">精彩相册</a>
            </li>
            <li>
                <a href="#">动感音乐</a>
            </li>
            <li>
                <a href="#">关于我</a>
            </li>
        </ul>
    </div>
    <!--中间主页内容-->
    <div class="main cl">
        <ul class="main-slider">
            <li class="slider-list">
                <h3>教育博文1</h3>
                <ul class="new-list">
                    <li>
                        <a href="#">靠自己95 后女生被16 所国外名校录取</a>
                    </li>
                    <li>
                        <a href="#">00 后的成长烦恼：压力巨大成隐形杀手</a>
                    </li>
                    <li>
                        <a href="#">一年自学MIT 的33 门课? 疯狂学习方法</a>
                    </li>
                    <li>
                        <a href="#">申请赴美读研人数下降5% 7 年来首遇冷</a>
                    </li>
                    <li>
                        <a href="#">西政“萌招聘”秀出辣椒与美女被赞</a>
                    </li>
                </ul>
            </li>
            <li class="slider-list">
                <h3>教育博文1</h3>
                <ul class="new-list">
                    <li>
                        <a href="#">靠自己95 后女生被16 所国外名校录取</a>
                    </li>
                    <li>
                        <a href="#">00 后的成长烦恼：压力巨大成隐形杀手</a>
                    </li>
                    <li>
                        <a href="#">一年自学MIT 的33 门课? 疯狂学习方法</a>
                    </li>
                    <li>
                        <a href="#">申请赴美读研人数下降5% 7 年来首遇冷</a>
                    </li>
                    <li>
                        <a href="#">西政“萌招聘”秀出辣椒与美女被赞</a>
                    </li>
                </ul>
            </li>
            <li class="slider-list">
                <h3>教育博文1</h3>
                <ul class="new-list">
                    <li>
                        <a href="#">靠自己95 后女生被16 所国外名校录取</a>
                    </li>
                    <li>
                        <a href="#">00 后的成长烦恼：压力巨大成隐形杀手</a>
                    </li>
                    <li>
                        <a href="#">一年自学MIT 的33 门课? 疯狂学习方法</a>
                    </li>
                    <li>
                        <a href="#">申请赴美读研人数下降5% 7 年来首遇冷</a>
                    </li>
                    <li>
                        <a href="#">西政“萌招聘”秀出辣椒与美女被赞</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="main-content">
        </div>
    </div>
    <!--轮播器的内容-->
    <div class="banner-box" id="turn-pic">
        <ul class="banner-pic">
            <li>
                <img src="../dist/img/banner1.jpg" alt="banner1" />
            </li>
            <li>
                <img src="../dist/img/banner2.jpg" alt="banner2" />
            </li>
            <li>
                <img src="../dist/img/banner3.jpg" alt="banner3" />
            </li>
        </ul>
        <div class="banner-dots-box">
            <ul class="banner-dots">
            </ul>
            <div class="banner-dots-bg"></div>
        </div>
    </div>
    <!--图片区域的内容-->
    <div class="photo cl" id="photo">
        <dl>
            <dt><img data-src="../dist/img/p1.jpg" bigsrc="images/p1big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>
        <dl>
            <dt><img data-src="../dist/img/p2.jpg" bigsrc="images/p2big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p3.jpg" bigsrc="images/p3big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p4.jpg" bigsrc="images/p4big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p5.jpg" bigsrc="images/p5big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p6.jpg" bigsrc="images/p6big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p7.jpg" bigsrc="images/p7big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p8.jpg" bigsrc="images/p8big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p9.jpg" bigsrc="images/p9big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p10.jpg" bigsrc="images/p10big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p11.jpg" bigsrc="images/p11big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>

        <dl>
            <dt><img data-src="../dist/img/p12.jpg" bigsrc="images/p12big.jpg" src="../dist/img/wait_load.jpg" class="wait_load" alt="" /></dt>
            <dd>延迟加载图片</dd>
        </dl>
    </div>

    <!--分析栏-->
    <div class="share" id="share">
        <h2 class="share-title">分享到</h2>
        <ul class="share-list">
            <li class="share-list-li"><a href="#" class="share-list-li-one">一键分享</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-two">新浪微博</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-three">人人网</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-four">百度相册</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-five">腾讯朋友</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-six">豆瓣网</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-seven">百度新首页</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-eight">和讯微博</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-nine">QQ 空间</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-ten">百度搜藏</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-enelven">腾讯微博</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-twenlve">开心网</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-thirteen">百度贴吧</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-fourteen">搜狐微博</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-fifteen">QQ 好友</a></li>
            <li class="share-list-li"><a href="#" class="share-list-li-sixteen">更多...</a></li>
        </ul>
        <div class="share-footer">
            <a href="#">百度分享</a>
        </div>
        <input type="button" class="share-button" />
    </div>

    <!--登录模态框-->
    <div class="modal" id="login-modal">
        <h2 class="modal-title mdal-move">
            <div class="modal-close" id="modal-close"></div>
            网站登录
        </h2>
        <div class="modal-content">
            <div class="input-group">
                <label for="userName">账户:</label>
                <input type="text" id="userName" />
            </div>
            <div class="input-group">
                <label for="password">密码:</label>
                <input type="text" id="password" />
            </div>
            <div class="input-button">
                <button type="button" class="btn"></button>
            </div>
        </div>
        <div class="modal-footer">
            注册新用户 | 忘记密码？
        </div>
    </div>

    <!--模态框背景-->
    <div class="modal-bg" id="modal-bg"></div>

    <!--注册模态框-->
    <div class="modal register-modal" id="register-modal">
        <h2 class="modal-title modal-move">
            <div class="modal-close"></div>
            会员注册
        </h2>
        <form name="reg" id="register">
            <dl class="reg-sum-list">
                <dd class="reg-list">
                    <span class="reg-list-title">用户名:</span>
                    <input type="text" name="userName" class="reg-list-input">
                    <span class="reg-info reg-info_prompt">请输入用户名，2~20位，由字母、数字和下划线组成！</span>
                    <span class="reg-info reg-info_error">输入不合法，请重新输入！</span>
                    <span class="reg-info reg-info_succ">可用</span>
                </dd>
                <dd class="reg-list">
                    <span class="reg-list-title">密码:</span>
                    <input type="text" name="" class="reg-list-input">
                    <span class="reg-info reg-info_password">
                        <p>
                            安全级别
                            <strong>■</strong>
                            <strong>■</strong>
                            <strong>■</strong>
                            <strong>中</strong>
                        </p>
                        <p>
                            <strong>○</strong>
                            6-20个字符
                        </p>
                        <p>
                            <strong>○</strong>
                            只能包含大小写字母、数字和非空格字符
                        </p>
                        <p>
                            <strong>○</strong>
                            大、小写字母、数字、非空字符，2种以上
                        </p>
                    </span>
                    <span class="reg-info reg-info_error">输入不合法，请重新输入！</span>
                    <span class="reg-info reg-info_succ">可用</span>
                </dd>
                <dd class="reg-list">
                    <span class="reg-list-title">密码确认:</span>
                    <input type="text" name="" class="reg-list-input">
                    <span class="reg-info reg-info_prompt_small">请再一次输入密码！</span>
                    <span class="reg-info reg-info_error">密码不一致，请重新输入！</span>
                    <span class="reg-info reg-info_succ">可用</span>
                </dd>
                <dd class="reg-list">
                    <span class="reg-list-title">提问:</span>
                    <select class="reg-list-input">
                        <option value="0">---请选择---</option>
                        <option value="1">- - 您最喜欢吃的菜</option>
                        <option value="2">- - 您的狗狗的名字</option>
                        <option value="3">- - 您的出生地</option>
                        <option value="4">- - 您最喜欢的明星</option>
                    </select>
                    <span class="reg-info reg-info_error">尚未选择提问，请选择！</span>
                </dd>
                <dd class="reg-list">
                    <span class="reg-list-title">回答:</span>
                    <input type="text" name="" class="reg-list-input">
                    <span class="reg-info reg-info_prompt_small">请输入回答，2~32位！</span>
                    <span class="reg-info reg-info_error">回答不合法，请重新输入！</span>
                    <span class="reg-info reg-info_succ">可用</span>
                </dd>
                <dd class="reg-list">
                    <span class="reg-list-title">电子邮件:</span>
                    <input type="text" name="" class="reg-list-input">
                    <span class="reg-info reg-info_prompt_small">请输入电子邮件！</span>
                    <span class="reg-info reg-info_error">邮件不合法，请重新输入！</span>
                    <span class="reg-info reg-info_succ">可用</span>
                </dd>
                <dd class="reg-list reg-list-select">
                    <span class="reg-list-title">生日:</span>
                    <select name="year" class="reg-list-input">
                        <option value="0">- 年 -</option>
                    </select>
                    <span class="reg-list-perch">-</span>
                    <select name="month" class="reg-list-input">
                        <option value="0">- 月 -</option>
                    </select>
                    <span class="reg-list-perch">-</span>
                    <select name="day" class="reg-list-input">
                        <option value="0">- 日 -</option>
                    </select>
                    <span class="reg-info reg-info_error">尚未全部选择，请选择！</span>
                </dd>
                <dd class="reg-list reg-list-textarea">
                    <span class="reg-list-title">备注:</span>
                    <textarea class="reg-list-remark"></textarea>
                    <div class="reg-info-sum-textarea">
                        <div>dasdsadasd</div>
                    </div>
                </dd>
                <dd class="reg-list">
                    <input type="button" class="reg-list-submit">
                </dd>
            </dl>
        </form>
        <div>
        </div>
    </div>

    <!--<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>-->
    <!--<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>-->
    <!--<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>-->
    <!--<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>-->
    <!--<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>-->
    <!--<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>-->
    <!--<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>-->
    <!--<p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>-->

    <script type="text/javascript" src="../dist/js/lib/jq.js"></script>
    <script type="text/javascript" src="../dist/js/lib/Drag.js"></script>
    <script type="text/javascript" src="../dist/js/lib/turnPic.js"></script>
    <script type="text/javascript" src="../dist/js/lib/verify.js"></script>
    <script type="text/javascript" src="../dist/js/lib/lazyLoading.js"></script>
    <script type="text/javascript" src="../dist/js/boke/index.js"></script>

    <script>
    </script>

</body>
</html>